In [34]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [35]:
#SD
well_dept = make_array(56, 12, 66, 19, 32, 72,27, 32)

In [36]:
sd_table = Table().with_columns('Well_dept', well_dept)
sd_table

Well_dept
56
12
66
19
32
72
27
32

In [23]:
average = np.average(well_dept)
average

39.5

In [24]:
deviation = well_dept - average
sd_table = sd_table.with_column('Deviation', deviation)
sd_table

Well_dept | Deviation
56        | 16.5
12        | -27.5
66        | 26.5
19        | -20.5
32        | -7.5
72        | 32.5
27        | -12.5
32        | -7.5

In [25]:
sum(deviation)

0.0

In [26]:
sd_table = sd_table.with_column('Squared deviation', deviation**2)
sd_table

Well_dept | Deviation | Squared deviation
56        | 16.5      | 272.25
12        | -27.5     | 756.25
66        | 26.5      | 702.25
19        | -20.5     | 420.25
32        | -7.5      | 56.25
72        | 32.5      | 1056.25
27        | -12.5     | 156.25
32        | -7.5      | 56.25

In [31]:
variance = np.average(sd_table.column('Squared deviation'))
variance

434.5

In [32]:
sd = variance**0.5
sd

20.844663585675832

In [33]:
np.std(well_dept)

20.844663585675832